.page {
    width: 1160px;
    margin: 0 auto;
    border-right: 1px solid #782221;
    justify-content: center;
   
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

.principal h2{
    background-color: #dbc2a4;
    width: 29em;  
}


.informations h2{
    background-color: #dbc2a4;
    width: 15em;
}


a{
    color: aliceblue;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    background-color: #782221;
    text-align: center;
        color: aliceblue;
    }

 
img{
    height: 5em;
    border-radius: 50%; /* Rendre la photo de profil arrondie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajouter une ombre */
}


address {
 
    display: flex;
    align-items: center;
   justify-content: space-around;
    height: 5em;
    background-color: #2c1d27;
}


.texte {
    display: flex;
    
}


.informations {
    display: flex;
    flex-direction: column;
    width: 25em;
    background-color: #782221;
    
}

.informations p{

    margin-left: 2em;
    margin-right: 3em;
    text-align: justify;  
}


.principal { 
    flex-direction: column;
    margin-left: 3em; 
}


footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #782221;
    color: aliceblue;
    height: 5em;  
}

.social{
    font-size: xx-small;
    display: flex;
    justify-content: center ;
}

.time{
    display: flex;
    justify-content: flex-end;
}




/* Effet n° 1 */

.principal h2:hover { 
   border-left  : 4px solid #782221; /* Bordure bordeaux au survol */
}

/* Effet n° 2 */

img:hover {
    cursor: pointer;
    cursor: zoom-in;
}

/* Effet n° 3 */
.social :hover{
    opacity: 0.8; /* Réduire légèrement l'opacité au survol */
    cursor: pointer;
}

/* Effet n° 4 */
a:hover {
    text-decoration: underline; /* Underline links on hover */
}